ion-content {
  background: linear-gradient( #f12711, #f5af19);

}
h2 {
  color: #606c88;
  text-align: right;
}
p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
img {

  max-width: 70%;
  height: auto;
  align: right;
}