ion-content {
  background: linear-gradient(to right, #fdc830, #f37335);
}

h2 {
  color: #606c88;
  text-align: right;
}
p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
img {

  max-width: 70%;
  height: auto;
}
