ion-content {
background-image: "https://cdn.jsdelivr.net/gh/Emtech1/12-C-10@master/pexels-pixabay-268533.jpg";

 }
h2 {
  color: #606c88;
  text-align: left;
}
p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
img {

  max-width: 70%;
  height: auto;
  
}