ion-content{
    background-image: url('https://cdn.jsdelivr.net/gh/Emtech1/12-C-10@master/pexels-pixabay-268533.jpg');
    -webkit-background-image: url('https://cdn.jsdelivr.net/gh/Emtech1/12-C-10@master/pexels-pixabay-268533.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  ion-label{
    color:white
  }
  ion-label{
font-size:18px !important;
}
  h1{
color:white
  }
  h1{
font-size:40px !important;
}
  h6{
color:white
  }
  h6{
font-size:18px !important;
}
  p{
color:white
  }
  p{
font-size:18px !important;
}
