ion-content{
    background-image: url('https://cdn.jsdelivr.net/gh/Emtech1/12-C-10@master/pexels-pixabay-268533.jpg');
    -webkit-background-image: url('https://cdn.jsdelivr.net/gh/Emtech1/12-C-10@master/pexels-pixabay-268533.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
h1 {
  color:white
}
h2 {
color:orange
}
h6{
  color:orange
}
img {
  max-width: 50%;
  height: 50;
}
p {
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
color: white
}